.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
    display : flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    box-shadow:0 0 25px #111;
    text-align: center;
    background: rgba(46 ,51 ,78, 0.3);
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.2s;
}

.budget{
    margin: 10px;
    display: flex;
    align-items: center;
    font-family: 'Work sans' ,sans-serif;
    font-weight: 400;
    font-size: 40px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: 70px;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction:column ;
}

.icons{
    margin-left: 60px;
    cursor: pointer;
}

.upper{
    display: flex;
    align-items: center;
}

.upper>*{
    margin: 10px;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=color]{
    transform: translateY(-25%);
}

.delete{
    position: sticky;
}


 .valueInput{
    text-align: center;
    border: 1px transparent solid;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    font-size: 36px;
    font-family: 'Work sans', sans-serif;
    transition-duration: 0.3s;
    background-color: white;
} 
.valueInput:hover{
    cursor: pointer;
    border: 1px rgba(10, 129, 209, 0.4) solid;
    transition-duration: 0.3s;
}

.valueInput:focus{
    -webkit-appearance: none;
    outline: none;
    background-color: rgba(10, 129, 209, 0.4);
    transition-duration: 0.3s;
}

.operators{
    margin-top: 50px;
    width: 550px;
    font-size: 25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.operators > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameSortBTN,
.fillSortBTN{
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addBTN{
    padding :20px;
    font-size: 24px;
    margin-top: 30px;
    width: 400px;
    border-radius: 25px;
    background: #2691d9;
    border: none;
    color: white;
    cursor : pointer;
    transition: 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}