* {
    padding: 0;
    margin: 0;
}

:root{
    --background : #504e52;
    --primary : ;
    --secondary : ;
    --firstAccent : #ff6d00;
    --white : #FDFFFC;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    position: absolute;
    left: 10vw;
    top: 7vh;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}

.balanceWrapper {
    position: relative;
    top: 15vh;
    height: 119px;
    background: var(--firstAccent);
    border-radius: 25px;
    width: 90vw;
}

.title {
    position: relative;
    top: 5%;
    left: 7%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

.balance {
    position: relative;
    left: 50%;
    transform: translateX(-40%);
    top: 15%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.container {
    position: relative;
    width: 90vw;
    height: 47vh;
    top: 17vh; 
    background: #ff9505;
    border-radius: 25px;
}

.transactionSelect{
    margin: 20px 0 20px 20px;
    font-size: 25px;
    border: none;
    background: none;
    color: var(--white);
    font-family: Inter;
    font-weight: bold;
    outline: none;
}

.transaction{
    width: 90%;
    height: 60px;
    border-radius: 15px;
    font-family: Inter;
    font-size: 18px;
    display: flex;
    background-color: grey;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.categoryColor{
    border-radius: 50%;
    background: red;
    width: 25px;
    height: 25px;
    margin: 10px;
}

.transactionValue{
    margin-left: auto;
    padding: 20px;
}

.addBTN {   
    position: relative;
    width: 100%;
    height: 54px;
    top: 20vh;
    background: #377DFF;
    border-radius: 17px;
    font-family: Inter;
    border: none;
    font-size: 23px;
    color: white;
}


.bottomMenu {
    position: fixed;
    width: 100%;
    height: 9vh;
    bottom: 0px;
    left: 0px;
    background: var(--firstAccent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
}

.bottomMenu > i:last-of-type{
    margin-right: 20px;
}

.bottomMenu > i:first-of-type{
    margin-left: 20px;
}

.errorMessage{
    font-family: Inter;
    font-size: 27px;
    margin: 20px;
    text-align: center;
}

/* Form */
.close{
    position: absolute;
    right : 20px;
}

.toggleSwitch{
    position: relative;
    transform: translateX(39%);
}

.firstLine{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.firstLine > input{
    margin-top: 10px;
    padding: 15px;
    width: 30%;
    outline: none;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 17px;
    font-family: Inter;
    font-weight: bold;
}

.firstLine > input:first-of-type{
    margin-left: 20px;
}

.firstLine > input:last-of-type{
    margin-right: 20px;
}

/* Toggle selector for income/expense */
.label{
    background-color: #111;
    display: flex;
    border-radius: 50px;
    height: 30px;
    width: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.ball{
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #fff;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition: 0.2s linear;
}

.slider:checked +.label .ball {
    transform: translateX(30px);
}

.slider{
    position: absolute;
    opacity: 0;
}

.fa-plus{
    color: green;
}
.fa-minus{
    color: red;
}

/* Slider */
.range{
    height: 50px;
    width: 50%;
    background: #fff ;
    border-radius: 10px;
    padding: 0 65px 0 45px;
}

.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #664AFF;
    font-family: 'Work Sans', sans-serif;
}

.min{
    left : -22px;
}

.max{
    right : -43px
}

.sliderValue{
    position: relative;
    width: 100%;
}

.bubble{
    position: absolute;
    height: 45px;
    width: 45px;
    color: #fff;
    font-weight: 500;
    top : -40px;
    transform: translateX(-50%) scale(0);
    transform-origin : bottom;
    transition : transform 0.2s ease-in-out;
    line-height: 55px;
    z-index: 2;
    font-family: 'Work Sans', sans-serif;
}

.bubble.show{
    transform: translateX(-50%) scale(1);
}

.ammountLabel{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.bubble:after{
    position: absolute;
    height: 45px;
    width: 45px;
    content: '';
    left: 50%;
    background: #664AFF;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
    border: 3px solid #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

input[type="range"]{
    -webkit-appearance: none;
    height: 3px;
    background: #ddd;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #664AFF;
    border-radius: 50%;
    border : 1px solid #664AFF; 
}
/*---*/

/*---*/

.display-none {
    display: none;
}