*{
    margin: 0;
    padding: 0;
}

body{
    background : linear-gradient(90deg, #2980b9, #8e44ad);
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-nav{
    background : linear-gradient(90deg, #2980b9, #8e44ad);
}

.main-nav{
    background: rgba(0, 0, 0, 0.1);
    height: 10vh;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.not-selected{
    font-family: 'Work Sans', sans-serif;
    margin-right: 60px;
    padding: 15px;
    letter-spacing: 2px;
    color: whitesmoke;
    font-size: 30px;
    list-style-type: none;
    border-bottom : 1px solid rgba(0, 0, 0, 0.0);
    transition: 0.3s;
}

.not-selected:hover{
    border-bottom : 1px solid white;
    transition: 0.3s;
    cursor: pointer;
}


.selected{
    color: #f8b953;
    border-bottom : 1px solid rgb(255, 123, 0);
    font-family: 'Work Sans', sans-serif;
    margin-right: 60px;
    padding: 15px;
    letter-spacing: 2px;
    font-size: 30px;
    list-style-type: none;
    transition: 0.3s;
}

hr{
    border: rgb(29, 29, 29) 1px solid;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #79d4e0, #5ed7e7);
    border-radius: 3px;
    height: 50%;
}

::-webkit-scrollbar-track {
    margin-top: 15px;
    margin-bottom: 15px;
}
