* {
    padding: 0;
    margin: 0;
}

body {
    background: #654597;
}

form {
    position: absolute;
    width: 90%;
    height: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    background: rgba(226, 173, 242, 0.15);
    border-radius: 35px;
}

.title {
    position: absolute;
    width: 312px;
    height: 48px;
    left: 15px;
    top: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
}

.subtitle {
    position: absolute;
    width: 306px;
    height: 20px;
    left: 45px;
    top: 95px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #E2ADF2;
}

.emailInput {
    position: absolute;
    width: 90%;
    height: 54px;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    border: none;
    border-radius: 10px;
}

.passwordInput {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 275px;
    width: 90%;
    height: 54px;
    border: none;
    border-radius: 10px;
}

.loginBTN {
    position: absolute;
    width: 280px;
    height: 54px;
    left: 50%;
    transform: translateX(-50%);
    top: 350px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background: #EE6352;
    outline: none;
    border: none;
    border-radius: 20px;
}