* {
    margin: 0;
    padding: 0;
}

body{
    background : linear-gradient(90deg, #2980b9, #8e44ad);
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-nav{
    background : linear-gradient(90deg, #2980b9, #8e44ad);
}

.main-nav{
    background: rgba(0, 0, 0, 0.1);
    height: 10vh;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.not-selected{
    font-family: 'Work Sans', sans-serif;
    margin-right: 60px;
    padding: 15px;
    letter-spacing: 2px;
    color: whitesmoke;
    font-size: 30px;
    list-style-type: none;
    border-bottom : 1px solid rgba(0, 0, 0, 0.0);
    transition: 0.3s;
}

.not-selected:hover{
    border-bottom : 1px solid white;
    transition: 0.3s;
    cursor: pointer;
}


.selected{
    color: #f8b953;
    border-bottom : 1px solid rgb(255, 123, 0);
    font-family: 'Work Sans', sans-serif;
    margin-right: 60px;
    padding: 15px;
    letter-spacing: 2px;
    font-size: 30px;
    list-style-type: none;
    transition: 0.3s;
}

hr{
    border: rgb(29, 29, 29) 1px solid;
}

.balance{
    text-align: center;
    font-size: 50px;
    font-family:'Roboto Slab', serif;
}

.currency{
    font-size: 50px;
    font-family:'Roboto Slab', serif;
    margin-left: 5px;
}

.balanceWrapper{
    display: flex;
    align-items: center;
    padding: 60px;
}

.container{
    text-align: center;
    background: rgba(125 ,205 ,133, 0.3);
    width: 650px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.2s;
}


.transaction{
    font-size : 36px;
    padding : 10px;
    margin: 5px;
    background: rgba(233, 128, 110, 1);
    border: 1px solid blue;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
    width: 550px;
}

.icons{
    float: right;
    margin-right: 10px;
}

.addBTN{
    padding :20px;
    font-size: 24px;
    margin-top: 30px;
    width: 400px;
    border-radius: 25px;
    background: #2691d9;
    border: none;
    color: white;
    cursor : pointer;
    transition: 0.5s;
}

.addBTN:hover{
    background: #1683cc;
    transition: 0.5s;
}

.addBTN:active{
    -webkit-appearance: none;
    -moz-appearance: none;
    transform: scale(0.98)
}
/*Switch*/
.label{
    background-color: #111;
    display: flex;
    border-radius: 50px;
    height: 30px;
    width: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.ball{
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #fff;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition: 0.2s linear;
}

.slider:checked +.label .ball {
    transform: translateX(30px);
}

.slider{
    position: absolute;
    opacity: 0;
}

.fa-plus{
    color: green;
}
.fa-minus{
    color: red;
}
/*---*/

i{
    padding: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

i:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.close{
    position:relative;
    left: 60%;
    top: 1%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Checkbox*/

.recursiveWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    left: 50%;
}

.recursiveBox{
    appearance: none;
    -webkit-appearance: none;
    height: 35px;
    width: 35px;
    background-color: #d5d5d5;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.recursiveBox::after{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    display: none;
}

.recursiveBox:checked{
    background-color: #399E5A;
    color : white;
}

.recursiveBox:checked:after{
    display: block;
}

.recursiveText{
    padding-left: 5px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

/*Checkbox*/

/*Dropdown menu*/

/*----*/

/*Slider*/
.range{
    height: 80px;
    width: 380px;
    background: #fff ;
    border-radius: 10px;
    padding: 0 65px 0 45px;
}

.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #664AFF;
    font-family: 'Work Sans', sans-serif;
}

.min{
    left : -22px;
}

.max{
    right : -43px
}

.sliderValue{
    position: relative;
    width: 100%;
}

span{
    position: absolute;
    height: 45px;
    width: 45px;
    color: #fff;
    font-weight: 500;
    top : -40px;
    transform: translateX(-50%) scale(0);
    transform-origin : bottom;
    transition : transform 0.2s ease-in-out;
    line-height: 55px;
    z-index: 2;
    font-family: 'Work Sans', sans-serif;
}

span.show{
    transform: translateX(-50%) scale(1);
}

.ammountLabel{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

span:after{
    position: absolute;
    height: 45px;
    width: 45px;
    content: '';
    left: 50%;
    background: #664AFF;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
    border: 3px solid #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

input[type="range"]{
    -webkit-appearance: none;
    height: 3px;
    background: #ddd;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #664AFF;
    border-radius: 50%;
    border : 1px solid #664AFF; 
}

/*---*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}

.valueInput{
    margin-top: 10px;
    padding: 10px 5px;
    outline: none;
    text-align: center;
    font-family:'Roboto Slab', serif;
    font-size: 24px;
    border: 1px transparent solid;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 40%;
}

.text{
    margin-top: 10px;
    padding: 10px 5px;
    outline: none;
    text-align: center;
    font-family:'Roboto Slab', serif;
    font-size: 24px;
    border: 1px transparent solid;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 40%;
}

/*Scrollbar*/
::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #79d4e0, #5ed7e7);
    border-radius: 3px;
    height: 50%;
}

::-webkit-scrollbar-track {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*---*/

/*Controller classes*/
.display-none{
    display: none;
}

.scroll-none{
    overflow-y: hidden;
}

/*---*/
